page-login {
    .title-box{
        text-align: center; 
        font-size: 27px; 
        background-color: rgb(152, 67, 231);
        min-width: 50%;
        min-height: 15%;
        color: #FFFFFF;
        padding-top: 2%;
    }
}
