<!--
Generated template for the TerbitanTempatanPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ userData.syarikat_nama }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="terbitanTempatan.permohonan_status == 'BARU'">
    <div>        <img class="displayed"  height="160 px" width="160 px" src="../assets/imgs/PERMOHONANBARU.png"></div>
    <ion-grid>
      <ion-row style="background-color: blue; color: #ffffff; font-size: 18px; text-align: center;padding-top: 2%;">
        <ion-col col-12>Senarai Terbitan Tempatan</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Tarikh permohonan</ion-col>
        <ion-col col-6> {{ terbitanTempatan.permohonan_tarikhdaftar }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Jenis permohonan</ion-col>
        <ion-col col-6 text-wrap>{{ terbitanTempatan.jenis_permohonan }}</ion-col>
      </ion-row>
     
        
    </ion-grid>
  </div>


  <div *ngIf="terbitanTempatan.permohonan_status == 'TELAH DISEMAK'">

    <div *ngIf="terbitanTempatan.permohonan_status == 'TELAH DISEMAK' && terbitanTempatan.semakan_status == 'DOKUMEN TIDAK LENGKAP'">  <img class="displayed"  height="160 px" width="160 px" src="../assets/imgs/SEMAKTAKLENGKAP.png"></div>
    <div *ngIf="terbitanTempatan.permohonan_status == 'TELAH DISEMAK' && terbitanTempatan.semakan_status == 'DOKUMEN LENGKAP'">  
      <img class="displayed"  height="160 px" width="160 px" src="../assets/imgs/SEMAK.png"></div>

    <ion-grid>
     <ion-row style="background-color: grey; color: #ffffff; font-size: 17px; text-align: center;padding: 2%;">
        <ion-col col-12>Senarai Terbitan Tempatan</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Tarikh permohonan</ion-col>
        <ion-col col-6> {{ terbitanTempatan.permohonan_tarikhdaftar }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Jenis permohonan</ion-col>
        <ion-col col-6 text-wrap>{{ terbitanTempatan.jenis_permohonan }}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6>Status semakan</ion-col>
          <ion-col col-6 text-wrap>{{ terbitanTempatan.semakan_status }}</ion-col>
        </ion-row>
      
      <span *ngIf="terbitanTempatan.semakan_status == 'DOKUMEN TIDAK LENGKAP'">
      <ion-row>
        <ion-col style="text-align:center;"><button ion-button round icon-start color="danger" (click)="hideShowPerincian()" ><ion-icon name="alert"></ion-icon> Perincian</button></ion-col>
      </ion-row>
      <ion-row *ngIf="showHidePerincian == true">
        <ion-col>{{terbitanTempatan.semakan_catatantidaklengkap}}
          <div>
            <button ion-fab float-right (click)="callNumber()">
              <ion-icon name="call"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </span>
    </ion-grid>
  </div>
  

  <div *ngIf="terbitanTempatan.permohonan_status == 'TELAH DISAH'">
    <div>  <img class="displayed"  height="160 px" width="160 px" src="../assets/imgs/DISAHKAN.png"></div>
    <ion-grid>
      <ion-row style="background-color: grey; color: #ffffff; font-size: 17px; text-align: center;padding: 2%;">
        <ion-col col-12>Senarai Terbitan Tempatan</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Tarikh permohonan</ion-col>
        <ion-col col-6> {{ terbitanTempatan.permohonan_tarikhdaftar }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Jenis permohonan</ion-col>
        <ion-col col-6 text-wrap>{{ terbitanTempatan.jenis_permohonan }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>No. Sijil</ion-col>
        <ion-col col-6 text-wrap>{{ terbitanTempatan.no_sijil }}</ion-col>
      </ion-row>
      <ion-row *ngIf="terbitanTempatan.status_sijil == 'TAMAT'">
        <ion-col col-6>Status Sijil</ion-col>
        <ion-col col-6><button ion-button color="danger">{{ terbitanTempatan.status_sijil }}</button></ion-col>
      </ion-row>
      <ion-row *ngIf="terbitanTempatan.status_sijil == 'AKTIF'">
          <ion-col col-6>Status Sijil</ion-col>
          <ion-col col-6><button ion-button color="secondary">{{ terbitanTempatan.status_sijil }}</button></ion-col>
        </ion-row>
      <ion-row>
        <ion-col col-6>Tarikh Mula Sijil</ion-col>
        <ion-col col-6>{{ terbitanTempatan.sijil_tarikhmula_display }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Tarikh Tamat Sijil</ion-col>
        <ion-col col-6>{{ terbitanTempatan.sijil_tarikhtamat_display }}</ion-col>
      </ion-row> 
      <ion-row *ngIf="terbitanTempatan.status_sijil != 'TAMAT'">
        <ion-col col-12 style="text-align:center;">
          <a ion-button round icon-start href="{{ mainSystemUrl }}/sijil/sijil-pdf-tempatan.php?ids={{cetakPdf.ids}}&idp={{cetakPdf.idp}}&sid={{cetakPdf.sid}}&pengguna_peranan={{cetakPdf.idp}}&mobile=1&_token={{cetakPdf._token}}">
            <ion-icon name="document"></ion-icon> Cetak PDF
          </a>
        </ion-col>
      </ion-row>        
    </ion-grid>
  </div>

</ion-content>
