page-terbitan-tempatan {
    ion-grid {
        height: 100%;
      
        ion-row {
          height: 8%;
        }
      }

      .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
