news-feed {
  ion-avatar img {
    width: 45px !important;
    height: 45px !important;
    border: 2px solid map_get($colors, theme_color) !important;
  }
  .button-clear {
    color: map_get($colors, theme_color);
  }
  h2 {
    color: map_get($colors, theme_color) !important;
  }
  .toolbar-background {
    background-color: map_get($colors, theme_color) !important;
  }
}
